.title-slide {
  background-color: #FFFFFF; /* #EDE0CF; ; #CA9F9D*/
  background-image: url('../img/dsp-front-cover.png'); 
  background-repeat:no-repeat; 
  background-position:center; 
  background-size: 100% 100%;
}

slides > slide:not(.nobackground) {
  background-image: url('../img/dsp-page.png');
  background-repeat:no-repeat; 
  background-position:center; 
  background-size: 100% 100%;
}

.title-slide hgroup {
  position:relative; 
  top: 25%; 
  left: 25%; 
}

.title-slide hgroup > h1 {
 font-family: 'Oswald', 'Helvetica', sanserif; 
}

.title-slide hgroup > h1 {
  color: #535E43 ;  /* ; #EF5150 */
  font-size: 250%;
} 

img.fit100 {
  max-width:100%;
  max-height:100%;
}

div.code_block {
    width: 980px;
    height: 500px;
    overflow: auto;
    /*
    overflow-x: auto;
    overflow-y: auto;
    */
}

.emphasized {
    font-size: 2.0em;
}
