.title-slide {
  background-color: #FFFFFF; /* #EDE0CF; ; #CA9F9D*/
  background-image: url('../img/dsp-front-cover.png'); 
  background-repeat:no-repeat; 
  background-position:center; 
  background-size: 100% 100%;
}

slides > slide:not(.nobackground) {
  background-image: url('../img/dsp-page.png');
  background-repeat:no-repeat; 
  background-position:center; 
  background-size: 100% 100%;
}
